@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Roboto:wght@500&display=swap');


.sinopse {font-family: 'Golos Text', sans-serif; 
color:rgb(0, 0, 0);
text-align: center;}

.texto{font-style: italic; color: rgb(0, 0, 0);}